############################
# Anchor / Solana / Rust
############################

.anchor/
**/target/
**/test-ledger/
**/*.so

############################
# Node / Frontend
############################

**/node_modules/
.next/
dist/
out/

############################
# Env
############################

.env
.env.*

############################
# Editor / OS
############################

.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
